
// Font & theme
$red                              : #550000;
$background-color                 : white;
$primary-color                    : #ED8606;
$secondary-color                  : #EA3405;
$font-color                       : black;

// Responsible breakpoints

$large-width                      : 768px;
$medium-width                     : 320px;

// Nav Menu

$menu-bg-color                    : grey;
$menu-color                       : black;
$menu-selected-item-bg-color      : lighten($menu-bg-color, 20%);
$menu-selected-item-color         : lighten($menu-color, 20%);

// Home page inner body

$home-page-body-bg                : #666666;
$home-page-body-border            : 1px solid black;

// Admin site bar

$site-bar-bg                      : #666666;
$site-bar-border                  : 1px solid black;

// Footer

$footer-bg                        : #666666;
$footer-border                    : 1px solid black;